//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 14 18:41:38 2021
//! **************************************************************************

SCHEMATIC START;
COMP "e" LOCATE = SITE "P32" LEVEL 1;
COMP "f" LOCATE = SITE "P29" LEVEL 1;
COMP "g" LOCATE = SITE "P27" LEVEL 1;
COMP "K3_Pin13_P127" LOCATE = SITE "P127" LEVEL 1;
COMP "K1_Pin13_P7" LOCATE = SITE "P7" LEVEL 1;
COMP "K2_Pin13_P8" LOCATE = SITE "P8" LEVEL 1;
COMP "K1_Pin15_P5" LOCATE = SITE "P5" LEVEL 1;
COMP "Clear" LOCATE = SITE "P46" LEVEL 1;
COMP "K2_Pin15_P6" LOCATE = SITE "P6" LEVEL 1;
COMP "K4_Pin13_P131" LOCATE = SITE "P131" LEVEL 1;
COMP "K3_Pin15_P124" LOCATE = SITE "P124" LEVEL 1;
COMP "P123" LOCATE = SITE "P123" LEVEL 1;
COMP "com0" LOCATE = SITE "P44" LEVEL 1;
COMP "K4_Pin15_P126" LOCATE = SITE "P126" LEVEL 1;
COMP "a" LOCATE = SITE "P41" LEVEL 1;
COMP "b" LOCATE = SITE "P40" LEVEL 1;
COMP "c" LOCATE = SITE "P35" LEVEL 1;
COMP "d" LOCATE = SITE "P34" LEVEL 1;
SCHEMATIC END;

